@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 38s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.animate-marquee-reverse {
  display: flex;
  width: max-content;
  animation: marquee 38s linear infinite reverse;
}

.animate-marquee-reverse:hover {
  animation-play-state: paused;
}
